Lista de productos:
<div class="people-table">

  {{#each products}}
    <tr>
 
      <td style="text-align: center;">{{this.title}}</td>
      <td style="text-align: center;">{{this.description}}</td>
      <td style="text-align: center;">{{this.code}}</td>
      <td style="text-align: center;">{{this.price}}</td>
 
      <td style="text-align: center;">{{this.stock}}</td>
    
      
    </tr>
  {{/each}}

</div>
<script src="/js/index.js"></script>