<div>
  <h1>Productos</h1>
  <ul>
    {{#each products.docs}}
      <li>{{title}} <br>
        Precio:{{price}} <br>
       Descripcion: {{description}}</li>
    {{/each}}
  </ul>
  <div>
    {{#if products.hasPrevPage}}
      <a href="/api/products/page?page={{products.prevPage}}">Anterior</a>
    {{/if}}

    <span>Página {{products.page}} de {{products.totalPages}}</span>

    {{#if products.hasNextPage}}
      <a href="/api/products/page?page={{products.nextPage}}">Siguiente</a>
    {{/if}}
  </div>
</div>